* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.first-flex {
  width: 25%;
  background-color: #b7d3ec;
}
.first-float {
  width: 25%;
  height: 100%;
  float: left;
  background-color: #b7d3ec;
}
.second-float {
  height: 100%;
  width: 100%;
  background-color: #ade5f6;
}
.second-flex {
  width: 75%;
  background-color: #ade5f6;
}
.third {
  height: 30%;
  background-color: royalblue;
}
.fourth {
  height: 15%;
  background-color: #fbf3b4;
}

.div-flex {
  height: 55%;
  display: flex;
  flex-direction: row;
}
.div-float {
  height: 55%;
}
